@font-face {
  font-family: 'tie-project-font';
  src: url('@/assets/font/tie-project-font.woff2') format('woff2'),
  url('@/assets/font/tie-project-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

