@import "@/common/style/base.scss";

#footer {
  height: 200px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -220px;

  .info {
    width: 1152px;
    position: relative;

    span {
      display: block;
      margin-top: 2em;
      width: 100%;
      float: left;
    }

    a {
      margin-top: 2em;
      margin-right: 1em;
      display: block;
      float: left;
      transition: color .5s;
      cursor: pointer;
      &:hover {
        color: lighten(#004D99, 10%);
      }
    }

    .copyright {
      position: absolute;
      color: #8F8E94;
      font-size: 16px;
      bottom: 40px;
    }
  }
}
